---
import Layout from '../layouts/Layout.astro'
import BlogNews from '../components/BlogNews.astro'
---
<Layout>
    <title>Blog | AstroMDBlog</title>
    <meta name="description" content="Blog plugin with Markdown rendering in Astro">
    <BlogNews />
</Layout>